<!DOCTYPE html>
<html>
  <head>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="https://ryuhon.ksit.xyz/static/counter/Theme/assets/ico/favicon.png">

    <title>RyuHon</title>

  </head>
  <!-- START BODY -->
  <body background="https://ryuhon.ksit.xyz/static/counter/Theme/assets/img/slider/3.jpg" >
	{% block main %}{% endblock %}
  </body>
  <!-- END BODY -->
</html>



