{% extends "base.html" %}

{% block kotoba %}
<FONT color="red"><p>{{ koto }}</p></FONT>
{% endblock %}
{% block main %}
  <form class="form-inline" role="form" method="post" action="delete">{% csrf_token %}
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail2">Email address</label>
<br>
<br>
<FONT color="#ffffff">学籍番号　例 e134563</FONT><br>
                                    <input type="text" name="user_id" class="form-control" id="exampleInputEmail2" placeholder="ニックネーム"/>
<br>
<FONT color="#ffffff">このサイトのパスワード</FONT><br>
 <input type="password" name="last_name" class="form-control" id="exampleInputEmail2" placeholder="password"/><br>
                                  </div>
                                  <br><button type="submit" class="btn btn-info">登録</button>
  </form>

<br><br><br>
<a color="#000000" href="https://ryuhon.ksit.xyz/home">Homeに戻る</a>

{% endblock %}
