{% extends "base_2.html" %}

{% block main %}


<FONT color="white">
A. 個人情報保護方針
<ul>

	<li> ryuhon.ksit.xyz(以下「このサイト」といいます。)は、いかなることがあっても,第三者に情報を譲渡することはございません。 </li>
	<li> 万が一、情報が流出した場合は、登録ユーザーにお伝えして,passwordを変更していただく方針です。</li>

</ul>


B.個人情報の取り扱いについて
<ul>
	<li>個人情報の取り扱いは、図書館貸出の自動延長に限定します。</li>

</ul>


C.サービスの使用について
<ul>
	<li>本サービスは、入力情報をもとに延長しています。なので,passwordを間違えて登録されると延長されません。もし、登録されているpasswordが間違えていることを知らない場合は、e133333@eve.u-ryukyu.ac.jpの方にメールを送信いたします。</li>

	<li>exxxxxxx@eve.u-ryukyu.ac.jpに届いたメールに返信できれば、本人と確定します。</li>


        <li>もし、総合情報センターのpasswordが間違えている場合は、こちらからeveのメールアドレスに連絡させてもらいます</li> 

	<li>アカウントの繁栄には時間がかかるかもしれません。</li>

</FONT>


        
{% endblock %}
